# 文本格式数据的读写

#### 常用函数
<img src="png\1.png" width="60%">
<img src="png\1-1.png" width="60%">

!cat examples/ex1.csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [2]:
import numpy as np
import pandas as pd

In [3]:
#使用read_csv将文件读入DataFrame
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
#read_table读取
pd.read_table('examples/ex1.csv',sep=',')

C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 有些没有表头这一行，如下所示

!type examples/ex2/csv
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
pd.read_csv('examples/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [6]:
#自动分配默认列名
pd.read_csv('examples/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
#自己指定列名
pd.read_csv('examples/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
#注意和上述情况的差别!
pd.read_csv('examples/ex2.csv',names=['a','b','c','d'])

    a   b   c      d
1   2   3   4  hello
5   6   7   8  world
9  10  11  12    foo

!cat examples/ex2.csv
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

想令message这一列成为索引

In [9]:
name=['a','b','c','d','message']
pd.read_csv('examples/ex2.csv',names=name,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

#### 分层索引

!type examples/csv_mindex.csv
key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,1

In [10]:
parsed=pd.read_csv('examples/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15       1

#### 分隔符不是固定的情况下，例如使用空白或者其他方式来分隔

In [11]:
list(open('examples/ex3.csv'))

['A          B   C\n',
 'aaa             -0.264438 -1.026059 -0.619500\n',
 'bbb 0.927272 0.302904 -0.032399']

In [12]:
result=pd.read_csv('examples/ex3.csv',sep=' ')
result

,,A,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,B,Unnamed: 11,Unnamed: 12,C
aaa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.264438,-1.026059,-0.6195
bbb,0.927272,0.302904,-0.032399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#使用正则表达式'\s+'
result1=pd.read_csv('examples/ex3.csv',sep='\s+')
result1

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399

#### 利用解析函数的附加函数来处理各种异常的文件格式

!type examples/ex4.csv
# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [14]:
#skiprows参数用来跳过某一行
pd.read_csv('examples/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo