# 文本格式数据的读写

#### 常用函数
<img src="png\1.png" width="60%">
<img src="png\1-1.png" width="60%">

!cat examples/ex1.csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [30]:
import numpy as np
import pandas as pd

In [31]:
#使用read_csv将文件读入DataFrame
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [32]:
#read_table读取
pd.read_table('examples/ex1.csv',sep=',')

C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 有些没有表头这一行，如下所示

!type examples/ex2/csv
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [33]:
pd.read_csv('examples/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [34]:
#自动分配默认列名
pd.read_csv('examples/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [35]:
#自己指定列名
pd.read_csv('examples/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [36]:
#注意和上述情况的差别!
pd.read_csv('examples/ex2.csv',names=['a','b','c','d'])

    a   b   c      d
1   2   3   4  hello
5   6   7   8  world
9  10  11  12    foo

!cat examples/ex2.csv
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

想令message这一列成为索引

In [37]:
name=['a','b','c','d','message']
pd.read_csv('examples/ex2.csv',names=name,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

#### 分层索引

!type examples/csv_mindex.csv
key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,1

In [38]:
parsed=pd.read_csv('examples/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15       1

#### 分隔符不是固定的情况下，例如使用空白或者其他方式来分隔

In [39]:
list(open('examples/ex3.csv'))

['A          B   C\n',
 'aaa             -0.264438 -1.026059 -0.619500\n',
 'bbb 0.927272 0.302904 -0.032399']

In [40]:
result=pd.read_csv('examples/ex3.csv',sep=' ')
result

,,A,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,B,Unnamed: 11,Unnamed: 12,C
aaa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.264438,-1.026059,-0.6195
bbb,0.927272,0.302904,-0.032399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#使用正则表达式'\s+'
result1=pd.read_csv('examples/ex3.csv',sep='\s+')
result1

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399

#### 利用解析函数的附加函数来处理各种异常的文件格式

!type examples/ex4.csv
# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [42]:
#skiprows参数用来跳过某一行
pd.read_csv('examples/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

缺失值的处理，缺失值要么不显示，要么用一些标识(NA和NULL)

!type examples/ex5.csv
something,a,b,c,d,message
one,1,2,3,4,NAi
two,5,6,,8,world
three,9,10,11,12,foo

In [43]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NAi
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [44]:
#或者用result.isnull()
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False    False
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [45]:
#利用na_values属性处理缺失值
result=pd.read_csv('examples/ex5.csv',na_values='NAi')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

默认会将'-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', '#N/A N/A','#N/A', 'N/A', 'NA', '#NA', 'NULL', 'NaN', '-NaN', 'nan', '-nan', ''转换为NaN，且na_values参数还支持定义另外的应处理为缺失值的值。

In [46]:
#还可以每一列指定不同的缺失值标识！
sentinel={'something':['one','three'],'b':2}
pd.read_csv('examples/ex5.csv',na_values=sentinel)

  something  a     b     c   d message
0       NaN  1   NaN   3.0   4     NAi
1       two  5   6.0   NaN   8   world
2       NaN  9  10.0  11.0  12     foo

read_csv的属性、参数

<img src="png\2.png" width="60%">
<img src="png\2-1.png" width="60%">
<img src="png\2-2.png" width="60%">
<img src="png\2-3.png" width="60%">

# 分块读取文件

In [47]:
#读取文件小部分行
pd.read_csv('examples/ex6.csv')

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [48]:
#读取一小部分行
pd.read_csv('examples/ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [49]:
#为了分块读入文件，指定chunksize为每一块的行数
pd.read_csv('examples/ex6.csv',chunksize=1000)

#### 以下部分还没有彻底搞懂！尤其是for piece in chunker: 的具体机制！

In [50]:
#遍历ex6.csv，对'key'列聚类获得计数值！
chunker=pd.read_csv('examples/ex6.csv',chunksize=1000)
tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)
tot=tot.sort_values(ascending=False)
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

# 数据写入文本格式

In [51]:
data=pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NAi
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [52]:
#使用DataFrame的to_csv方法，可以将数据导出为逗号分隔符的文件: (注意第一个就是逗号！，还有缺失值不是NaN，而是空格！)
data.to_csv('examples/out.csv')

!type examples/out.csc
,something,a,b,c,d,message
0,one,1,2,3.0,4,NAi
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [53]:
#改变分隔符
import sys
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|NAi
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [54]:
#缺失值在输出时以空字符串出现，也可以用其他标识值对缺失值进行标注
data.to_csv(sys.stdout,na_rep='Na')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NAi
1,two,5,6,Na,8,world
2,three,9,10,11.0,12,foo

In [55]:
#默认行和列的标签都会被写入，不过二者也可以禁止写入:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,NAi
two,5,6,,8,world
three,9,10,11.0,12,foo

In [56]:
#写入列的子集，并且按照指定的顺序写入:
data.to_csv(sys.stdout,index=False,columns=['b','a','c'])

b,a,c
2,1,3.0
6,5,
10,9,11.0

In [65]:
#同样，Series也有to_csv方法:
dates=pd.date_range('8/10/2019',periods=7)
ts=pd.Series(np.arange(7),index=dates)
ts

2019-08-10    0
2019-08-11    1
2019-08-12    2
2019-08-13    3
2019-08-14    4
2019-08-15    5
2019-08-16    6
Freq: D, dtype: int32

In [71]:
ts.to_csv(sys.stdout)

2019-08-10,0
2019-08-11,1
2019-08-12,2
2019-08-13,3
2019-08-14,4
2019-08-15,5
2019-08-16,6

C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

# 处理分隔符的格式

In [73]:
import csv

!type examples/ex7.csv
"a","b","c"
"1","2","3"
"1","2","3"

In [82]:
#Python内置csv库可以处理单字符分隔符文件
f=open('examples/ex7.csv')
reader=csv.reader(f)
#对reader迭代将会为每行产生一个元组
for p in reader:
    print(p)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']