In [2]:
import pandas as pd
import numpy as np

In [9]:
#读取文件，数据格式为Pandas中的DataFrame
columns=['a','b','c','d','e','f','g','h','i','j']
df=pd.read_csv('examples/det.txt',names=columns)
df

          a  b         c        d        e        f         g  h  i  j
0         1 -1    97.000  545.000   79.000  239.000  3.166700 -1 -1 -1
1         1 -1   369.000  401.000   79.000  239.000  3.111200 -1 -1 -1
2         1 -1   546.660  146.510   59.629  180.890  2.686000 -1 -1 -1
3         1 -1  1638.000  255.640   59.629  180.890  2.641700 -1 -1 -1
4         1 -1  1043.800  134.380   59.629  180.890  2.339100 -1 -1 -1
5         1 -1   792.960  148.080   55.569  168.710  2.253200 -1 -1 -1
6         1 -1  1742.100  460.650   68.644  207.930  2.184800 -1 -1 -1
7         1 -1  1104.400  207.140   59.629  180.890  1.968400 -1 -1 -1
8         1 -1   498.160  122.260   59.629  180.890  1.402700 -1 -1 -1
9         1 -1   906.100  125.450   55.569  168.710  1.263400 -1 -1 -1
10        1 -1   351.890   91.972   63.980  193.940  1.168100 -1 -1 -1
11        1 -1   222.680  127.670   51.780  157.340  0.976540 -1 -1 -1
12        1 -1  1377.000  561.000   79.000  239.000  0.915160 -1 -1 -1
13        1 -1   257.000  353.000   79.000  239.000  0.889580 -1 -1 -1
14        1 -1   871.730  117.960   63.980  193.940  0.804090 -1 -1 -1
15        1 -1   221.930  403.880   63.980  193.940  0.734670 -1 -1 -1
16        1 -1  1415.200  204.650   55.569  168.710  0.682560 -1 -1 -1
17        1 -1   234.930   78.976   63.980  193.940  0.554810 -1 -1 -1
18        1 -1  1456.100  243.510   59.629  180.890  0.360880 -1 -1 -1
19        1 -1   363.040  385.670  112.140  338.410  0.345630 -1 -1 -1
20        1 -1   295.160  125.450   55.569  168.710  0.302660 -1 -1 -1
21        1 -1  1630.100  241.080   84.742  256.230  0.270460 -1 -1 -1
22        1 -1   461.780   73.754   59.629  180.890  0.221620 -1 -1 -1
23        1 -1   403.880   65.980   63.980  193.940  0.149270 -1 -1 -1
24        1 -1  1797.800  196.000   68.644  207.930  0.117580 -1 -1 -1
25        1 -1   545.000   65.000   39.000  119.000  0.108770 -1 -1 -1
26        1 -1   699.410  203.170   44.948  136.840  0.106340 -1 -1 -1
27        1 -1   498.300   35.297   41.871  127.610  0.087675 -1 -1 -1
28        1 -1  1561.000  251.720   68.644  207.930  0.077758 -1 -1 -1
29        1 -1  1488.200   69.944   48.246  146.740  0.064225 -1 -1 -1
30        1 -1  1409.000  513.000  159.000  479.000  0.061925 -1 -1 -1
31        1 -1   206.780   86.742   84.742  256.230 -0.036917 -1 -1 -1
32        1 -1  1338.600  343.970  170.480  513.450 -0.107490 -1 -1 -1
33        1 -1   210.000   60.714  148.290  446.860 -0.113410 -1 -1 -1
34        1 -1  1135.600   90.571  148.290  446.860 -0.116830 -1 -1 -1
35        1 -1   296.570   43.224  210.120  632.360 -0.139990 -1 -1 -1
36        1 -1   513.160   40.397   97.492  294.470 -0.185650 -1 -1 -1
37        1 -1   807.140  135.360   73.643  222.930 -0.200070 -1 -1 -1
38        1 -1   689.790  195.940   63.980  193.940 -0.222720 -1 -1 -1
39        1 -1    46.255  182.020  225.270  677.820 -0.226690 -1 -1 -1
40        1 -1  1372.900  189.630   84.742  256.230 -0.232640 -1 -1 -1
41        1 -1  1636.000  621.500   48.246  146.740 -0.332040 -1 -1 -1
42        1 -1  1436.600   43.224  210.120  632.360 -0.368310 -1 -1 -1
43        1 -1  1710.300  442.100   90.896  274.690 -0.442240 -1 -1 -1
44        1 -1  1047.100  481.150   41.871  127.610 -0.496880 -1 -1 -1
45        2 -1    97.000  545.000   79.000  239.000  3.084300 -1 -1 -1
46        2 -1   369.000  401.000   79.000  239.000  3.061200 -1 -1 -1
47        2 -1   546.660  146.510   59.629  180.890  2.898700 -1 -1 -1
48        2 -1  1732.700  448.860   73.643  222.930  2.159500 -1 -1 -1
49        2 -1   792.960  148.080   55.569  168.710  2.070900 -1 -1 -1
...     ... ..       ...      ...      ...      ...       ... .. .. ..
39387  1049 -1  1783.500  849.800   59.629  180.890 -0.280300 -1 -1 -1
39388  1049 -1  1379.900  513.160  195.980  589.950 -0.308740 -1 -1 -1
39389  1049 -1   777.280  120.430   73.643  222.930 -0.355970 -1 -1 -1
39390  1049 -1   884.730  936.710   63.980  193.940 -0.372400 -1 -1 -1
39391  1049 -1  1539.700  182.020  225.270  677.820 -0.374940 -1 -1 -1
39392  1049 -1   197.980  138.890   48.246  146.740 -0.444870 -1 -1 -1
39393  1049 -1   260.920    1.000  258.920  778.760 -0.450710 -1 -1 -1
39394  1049 -1   478.710   90.571  148.290  446.860 -0.456180 -1 -1 -1
39395  1050 -1  1728.200  460.650   68.644  207.930  2.879700 -1 -1 -1
39396  1050 -1  1115.600  532.600   84.742  256.230  2.330600 -1 -1 -1
39397  1050 -1   283.840  125.450   55.569  168.710  1.991200 -1 -1 -1
39398  1050 -1   369.000  513.000   79.000  239.000  1.976100 -1 -1 -1
39399  1050 -1   858.740  234.930   63.980  193.940  1.930800 -1 -1 -1
39400  1050 -1   292.020  340.520   59.629  180.890  1.651900 -1 -1 -1
39401  1050 -1   584.040  532.600   84.742  256.230  1.646900 -1 -1 -1
39402  1050 -1   813.420  134.380   59.629  180.890  1.449100 -1 -1 -1
39403  1050 -1   934.680  231.390   59.629  180.890  1.381800 -1 -1 -1
39404  1050 -1  1720.700  215.960   55.569  168.710  1.117900 -1 -1 -1
39405  1050 -1   376.900   98.006   59.629  180.890  1.051200 -1 -1 -1
39406  1050 -1  1859.400  260.920   63.980  193.940  0.683890 -1 -1 -1
39407  1050 -1   237.380  138.890   48.246  146.740  0.678260 -1 -1 -1
39408  1050 -1   481.850  325.900   63.980  193.940  0.674930 -1 -1 -1
39409  1050 -1   338.790   74.892   51.780  157.340  0.641360 -1 -1 -1
39410  1050 -1  1649.000  673.000   79.000  239.000  0.455270 -1 -1 -1
39411  1050 -1   510.280  243.510   59.629  180.890  0.407110 -1 -1 -1
39412  1050 -1   312.900  364.890  128.960  388.880  0.283790 -1 -1 -1
39413  1050 -1   473.760  237.380   97.492  294.470  0.133480 -1 -1 -1
39414  1050 -1   408.290   12.314   55.569  168.710  0.086785 -1 -1 -1
39415  1050 -1   497.240   92.896   90.896  274.690 -0.036779 -1 -1 -1
39416  1050 -1   699.410  203.170   44.948  136.840 -0.051211 -1 -1 -1
39417  1050 -1   275.370  309.670   84.742  256.230 -0.070486 -1 -1 -1
39418  1050 -1  1625.800  558.780  120.260  362.770 -0.084138 -1 -1 -1
39419  1050 -1   225.000  289.000  159.000  479.000 -0.091954 -1 -1 -1
39420  1050 -1   197.980  138.890   48.246  146.740 -0.109070 -1 -1 -1
39421  1050 -1  1478.400  227.530   48.246  146.740 -0.118510 -1 -1 -1
39422  1050 -1  1539.700  182.020  225.270  677.820 -0.140000 -1 -1 -1
39423  1050 -1  1439.000  690.440   97.492  294.470 -0.148350 -1 -1 -1
39424  1050 -1   689.790  195.940   63.980  193.940 -0.173060 -1 -1 -1
39425  1050 -1   223.860   98.502   68.644  207.930 -0.227540 -1 -1 -1
39426  1050 -1   777.280  135.360   73.643  222.930 -0.283400 -1 -1 -1
39427  1050 -1  1404.300  538.430  148.290  446.860 -0.283710 -1 -1 -1
39428  1050 -1  1241.000   33.000   39.000  119.000 -0.307750 -1 -1 -1
39429  1050 -1   729.840   40.397   48.246  146.740 -0.361690 -1 -1 -1
39430  1050 -1  1795.500  866.600   51.780  157.340 -0.378190 -1 -1 -1
39431  1050 -1   254.780   75.643   73.643  222.930 -0.383290 -1 -1 -1
39432  1050 -1  1313.600  195.940   63.980  193.940 -0.414180 -1 -1 -1
39433  1050 -1   631.540  783.110   29.314   89.943 -0.432210 -1 -1 -1
39434  1050 -1   927.010  206.780   84.742  256.230 -0.440350 -1 -1 -1
39435  1050 -1  1434.600  589.130  182.790  550.380 -0.482290 -1 -1 -1
39436  1050 -1   478.710   90.571  148.290  446.860 -0.486940 -1 -1 -1

[39437 rows x 10 columns]

In [3]:
#读取方式1，索引名+列名法
df.loc[39435,'a']

1050

In [4]:
#读取方式2，数字索引
df.iloc[39435,2]

1434.6

In [5]:
#读取某一行
df.iloc[39435]

a    1050.00000
b      -1.00000
c    1434.60000
d     589.13000
e     182.79000
f     550.38000
g      -0.48229
h      -1.00000
i      -1.00000
j      -1.00000
Name: 39435, dtype: float64

In [6]:
#读取某一列
df.iloc[:,0]

0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
         ...
39407    1050
39408    1050
39409    1050
39410    1050
39411    1050
39412    1050
39413    1050
39414    1050
39415    1050
39416    1050
39417    1050
39418    1050
39419    1050
39420    1050
39421    1050
39422    1050
39423    1050
39424    1050
39425    1050
39426    1050
39427    1050
39428    1050
39429    1050
39430    1050
39431    1050
39432    1050
39433    1050
39434    1050
39435    1050
39436    1050
Name: a, Length: 39437, dtype: int64

缺失值的处理，缺失值要么不显示，要么用一些标识(NA和NULL)

!type examples/ex5.csv
something,a,b,c,d,message
one,1,2,3,4,NAi
two,5,6,,8,world
three,9,10,11,12,foo

In [7]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [8]:
#或者用result.isnull()
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [13]:
#利用na_values属性处理缺失值
result=pd.read_csv('examples/ex5.csv',na_values='NAi')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

默认会将'-1.#IND', '1.#QNAN', '1.#IND', '-1.#QNAN', '#N/A N/A','#N/A', 'N/A', 'NA', '#NA', 'NULL', 'NaN', '-NaN', 'nan', '-nan', ''转换为NaN，且na_values参数还支持定义另外的应处理为缺失值的值。

In [15]:
#还可以每一列指定不同的缺失值标识！
sentinel={'something':['one','three'],'b':2}
pd.read_csv('examples/ex5.csv',na_values=sentinel)

  something  a     b     c   d message
0       NaN  1   NaN   3.0   4     NAi
1       two  5   6.0   NaN   8   world
2       NaN  9  10.0  11.0  12     foo