# 二进制格式与读取Excel数据

## 二进制格式

In [1]:
import numpy as np
import pandas as pd

In [3]:
frame=pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
#pickle序列化：以pickle格式保存到磁盘上
frame.to_pickle('examples/frame_pickle')

In [5]:
#通过pickle直接读取被pickle化的数据，或者通过read_pickle
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo