# 二进制格式与读取Excel数据

## 二进制格式之Pickle

In [1]:
import numpy as np
import pandas as pd

In [3]:
frame=pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
#pickle序列化：以pickle格式保存到磁盘上
frame.to_pickle('examples/frame_pickle')

In [5]:
#通过pickle直接读取被pickle化的数据，或者通过read_pickle
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 不推荐用Pickle存储数据，它是短期的，有可能随着库的跟新而变换

bcolz：⼀种可压缩的列存储⼆进制格式，基于Blosc压缩库。
Feather：我与R语⾔社区的Hadley Wickham设计的⼀种跨语⾔的列存储⽂件格式。Feather使⽤
了Apache Arrow的列式内存格式。

##  二进制数据之HDF5格式(Hierachical Data Format)

In [9]:
frame=pd.DataFrame({'a':np.random.randn(100)})
frame

           a
0   0.451049
1  -0.254745
2  -0.301574
3   1.204183
4   1.309469
5  -0.892352
6  -0.464590
7  -0.883472
8  -0.362102
9   0.494162
10 -0.295661
11 -0.840526
12  1.213662
13  1.963687
14 -0.027143
15 -0.832277
16  0.530658
17  0.764429
18 -0.537024
19  1.188008
20  0.296803
21  2.591571
22  1.983443
23 -0.700166
24 -0.914229
25  1.698810
26 -0.451744
27  0.896413
28 -0.481593
29  1.428854
..       ...
70 -0.464682
71 -0.629221
72 -0.300821
73 -1.087796
74 -0.751592
75  0.292055
76 -0.469607
77  0.434599
78 -0.148485
79  0.487580
80  0.062242
81 -0.012477
82  0.268406
83 -1.851041
84 -1.910101
85 -0.502596
86 -0.472876
87 -1.373835
88 -0.258431
89 -1.372478
90  1.469315
91  0.332172
92 -0.417038
93 -1.418748
94  1.488509
95 -0.564497
96 -1.191397
97 -1.071115
98  1.283328
99 -0.064285

[100 rows x 1 columns]

In [15]:

store=pd.HDFStore('amydata.h5')

ImportError: HDFStore requires PyTables, "No module named 'tables'" problem importing

## 读取Excel文件

In [16]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

ImportError: Install xlrd >= 1.0.0 for Excel support