# 函数应用、排序

In [1]:
import numpy as np
import pandas as pd

## NumPy通用函数 (逐元素) 也适用于Pandas中的数据结构

In [8]:
frame=pd.DataFrame(np.arange(9).reshape(3,3),index=list('abc'),columns=['one','two','three'])
frame.iloc[:,1] = [-1,-4,-7]
frame

   one  two  three
a    0   -1      2
b    3   -4      5
c    6   -7      8

In [10]:
np.abs(frame)

   one  two  three
a    0    1      2
b    3    4      5
c    6    7      8

In [12]:
#这里使用lamda定义一个匿名函数
f = lambda x:x.max()-x.min()
x =np.arange(16)
f(x)

15

In [17]:
#axis=0 or axis='index' 按列应用函数，每一列都调用一次，结果以frame的列作用索引的Series
frame.apply(f,axis=0)

one      6
two      6
three    6
dtype: int64

In [20]:
#axis=1 or axis='columns' 就是与上面的相对应
frame.apply(f,axis=1)

a     3
b     9
c    15
dtype: int64

## 排序、排名
### 排序

In [21]:
obj = pd.Series(np.arange(4),index=list('dabc'))
obj

d    0
a    1
b    2
c    3
dtype: int32

In [22]:
#sort_index() 按索引排序
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int32

In [28]:
#sort_value() 按值排序
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int32

In [44]:
frame2=pd.DataFrame(np.arange(9).reshape(3,3),index=list('cab'),columns=['two','tzree','one'])
frame2

   two  tzree  one
c    0      1    2
a    3      4    5
b    6      7    8

In [45]:
frame2.sort_index(axis=0)

   two  tzree  one
a    3      4    5
b    6      7    8
c    0      1    2

In [48]:
#对columns进行排序，是按照字母的！如果第一个字母一样就比较第二个字母，依次类推！
frame2.sort_index(axis=1)

   one  two  tzree
c    2    0      1
a    5    3      4
b    8    6      7

In [50]:
#可以指定顺序，对ascending参数修改，默认为True
frame2.sort_index(axis=1,ascending=False)

   tzree  two  one
c      1    0    2
a      4    3    5
b      7    6    8

In [63]:
#对于DataFrame，还可以用by参数，使用一列或多列最为排序键
frame2.iloc[0,1]=9
frame2

   two  tzree  one
c    0      9    2
a    3      4    5
b    6      7    8

In [70]:
frame2.sort_values(by='tzree')

   two  tzree  one
a    3      4    5
b    6      7    8
c    0      9    2

In [71]:
#使用多个参数，如果'one'在前面，那么顺序会变，是按位置的顺序排的！
frame2.sort_values(by=['tzree','one'])

   two  tzree  one
a    3      4    5
b    6      7    8
c    0      9    2

In [78]:
#对于所有的缺少项NaN，都会排到尾部!
obj2 = pd.Series([1,2,np.nan,3,np.nan,6],index=list('abcdef'))
obj2

a    1.0
b    2.0
c    NaN
d    3.0
e    NaN
f    6.0
dtype: float64

In [53]:
obj2.sort_values()

a    1.0
b    2.0
d    3.0
f    6.0
c    NaN
e    NaN
dtype: float64

In [55]:
#降序一样排到最后
obj2.sort_values(ascending=False)

f    6.0
d    3.0
b    2.0
a    1.0
c    NaN
e    NaN
dtype: float64

### 排名

In [95]:
obj3 = pd.Series([4,2,3,7,7,6])
obj3

0    4
1    2
2    3
3    7
4    7
5    6
dtype: int64

In [96]:
#有两个相同的数字，取
obj3.rank()

0    3.0
1    1.0
2    2.0
3    5.5
4    5.5
5    4.0
dtype: float64

In [101]:
#按观察顺序排序
obj3.rank(method='first')

0    3.0
1    1.0
2    2.0
3    5.0
4    6.0
5    4.0
dtype: float64

In [99]:
#降序
obj3.rank(ascending=False,method='max')

0    4.0
1    6.0
2    5.0
3    2.0
4    2.0
5    3.0
dtype: float64

#### 打破平级关系的方法
<img src="png/5.png" width="40%">